<appSettings>
  <add key="startupRoles" value="Administrators;Employees;RegisteredUsers;Director;Food Service;Clerk;Office Manager" />
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@eRace.ca" />
  <add key="adminPassword" value="Pa$$w0rd" />
  <add key="adminRole" value="Administrators" />
  <add key="clerkRole" value="Clerks" />
  <add key="officeManagerRole" value="Office Managers" />
  <add key="raceCoordinatoreRole" value="Race Coordinators" />
  <add key="foodServiceRole" value="Food Services" />
  <add key="newUserPassword" value="Pa$$w0rd2018" />
</appSettings>
