<appSettings>
	<add key="startupRoles" value="Administrators;Employees;RegisteredUsers;Director;Food Service;Clerk;Race Coordinator;Office Manager" />
	<add key="adminUserName" value="Webmaster" />
	<add key="adminEmail" value="Webmaster@eRace.ca" />
	<add key="adminPassword" value="Pa$$w0rd" />
	<add key="adminRole" value="Administrators" />
	<add key="clerkRole" value="Clerk" />
	<add key="officeManagerRole" value="Office Manager" />
	<add key="raceCoordinatorRole" value="Race Coordinator" />
	<add key="foodServiceRole" value="Food Service" />
	<add key="directorRole" value="Director" />
	<add key="newUserPassword" value="Pa$$w0rd2018" />
</appSettings>

