<appSettings>
  <add key="startupRoles" value="Administrators;Employees;RegisteredUsers;
       Director;Race Coordinator;Race Investigator; Mechanic - Senior; Mechanic; 
       Track Service;Food Service;Shop;Clerk;Office Manager" />
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@Chinook.ca" />
  <add key="adminPassword" value="Pa$$w0rd" />
  <add key="adminRole" value="Administrators" />
  <add key="employeeRole" value="Employees" />
  <add key="employeeRole" value="Clerk" />
  <add key="employeeRole" value="Office Manager" />
  <add key="employeeRole" value="Race Coordinator" />
  <add key="employeeRole" value="Food Service" />
  <add key="newUserPassword" value="Pa$$w0rd2018" />
</appSettings>
